#set($prodsign="::=")#set($sharp="#")<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
<head>
	<title>Parser Table</title>
	<style type="text/css">
		body {font-family: sans-serif; background:white}
		h1 {border-style: solid;border-width: 1px;background: #E0E0FF;padding: 0.5cm;font: 180% sans-serif;text-align: center;}
		h2 {font: 150% sans-serif;text-decoration: underline;}
		h3 {font: 130% sans-serif;}td{background: #EEEEEE;}
		td.g {background:white}
		span.terminal { font-style:italic; color:#881122; }
	</style>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Parser Table</h1>
<h2>Grammar</h2>
#foreach($entry in $grammar.productions.entrySet())
<table border="0" style="padding: 0.2cm">
<tr>
<td class="g" id="$entry.key.id">$entry.key.id</td> <td class="g" align="center">$prodsign</td>
#foreach($prod in $entry.value)
#if($velocityCount!=1)
<tr><td class="g"></td><td class="g" align="center">|</td>
#end
<td class="g">#if($prod.right.size()==0)*empty*#else#foreach($v in $prod.right)#if($velocityCount!=1)&#160;#end#if($v.isTerminal())<span class="terminal">$v</span>#else<a href="$sharp$v.id">$v</a>#end#end#end</td>
#set($v="all")
#set($v=$prod.version.id)
<td class="g">$v</td>
</tr>
#end
</table>
#end


<h2>Non Terminals</h2>
<table border="1">
<tr><th>Non terminal</th><th>Epsilon</th><th>First</th><th>Follow</th></tr>
#set ($starts = $grammar.starts)
#foreach($nt in $grammar.nonTerminals)
<tr><td>$nt.id</td><td>$grammarSets.derivesToEpsilon($nt)</td>
<td><table border="0">
#foreach($nt2 in $grammarSets.first($nt))
 <tr><td>$nt2</td></tr>
#end
</table></td>
#if (! $starts.contains($nt))
<td><table border="0">
#foreach($nt2 in $grammarSets.follow($nt))
 <tr><td>$nt2</td></tr>
#end
</table></td>
#end
</tr>
#end
</table>

<h2>Start States</h2>
<table border="1">
<tr><th>Non terminal</th><th>Start State</th></tr>
#foreach($entry in $nodeFactory.startStateMap.entrySet())
<tr><td>$entry.key.id</td><td><a href="$sharp$entry.value.toString()">$entry.value.toString()</a></td></tr>
#end
</table>

<h2>States</h2>
#foreach($node in $nodeFactory.nodes)
<h3 id="$node.toString()">$node.toString()</h3>
#set($actionsMap = $table.get($node))
#set($gotosMap = $buildedGotos.get($node))
#set($branches = $branch.get($node))
<p>Compatible versions :
#set($v="null")
#foreach($v in $node.compatibleVersion)
##if($v != "null)
$v.id
##end
#set($v="null")
#end</p>

<table border="1">
<tr><th>Kernel items</th><th>Actions</th>
#if(!$gotosMap.isEmpty())<th>Gotoes</th>#end</tr>
<tr><td>
<table border="0">
#foreach($ki in $node.kernelItems)
<tr><td><b>$ki.left&#160;$prodsign&#160;#foreach($v in $ki.right)#if($velocityCount!=1)&#160;#end#if($ki.dotPlace==$velocityCount - 1)&#8226;&#160;#end$v#end#if($ki.dotPlace==$ki.right.size())&#160;&#8226;#end
#if($ki.lookahead)&#160;/&#160;$ki.lookahead#end</b></td></tr>
#end
</table></td>
<td><table>
#foreach($entry in $actionsMap.entrySet())
<tr>
<td>$entry.key.id</td><td>:</td>
<td>#foreach($actionEntry in $entry.value)
#set($action=$actionEntry.action)
#if($velocityCount != 1), #end
$action.accept($displayVisitor)
#end</td></tr>
#end
#if($branches.size()!=0)
<tr><td><i>branch</i></td><td>:</td>
<td>#foreach($actionEntry in $branches)
#set($action=$actionEntry.action)
#if($velocityCount != 1), #end
$action.accept($displayVisitor)
#end</td></tr>
#end
</table></td>
#if(!$gotosMap.isEmpty())
<td><table border="0">
#foreach($entry in $gotosMap.entrySet())
<tr><td>$entry.key.id</td><td>:</td><td>$entry.value</td></tr>
#end
</table></td>
#end
</tr>
</table>
#end
  <p>
    <a href="http://validator.w3.org"><img
        src="http://www.w3.org/Icons/valid-xhtml11"
        alt="Valid XHTML 1.1" height="31" width="88" /></a>
  </p>
</body>
</html>
