package ${package};

import fr.umlv.tatoo.runtime.ast.Node;
import fr.umlv.tatoo.runtime.ast.XMLNodeFactory;

public class XMLFactory extends XMLNodeFactory {
  public XMLFactory() {
    super(AbstractXMLFactory.values());
  }
  private static enum AbstractXMLFactory implements AbstractNodeFactory{
#foreach($node in $nodes)
    #if ($velocityCount!=1),#end
#if(${node.parent.isNonExpressive()})      
#set($n=$node.parent)
#else
#set($n=$node)
#end
    ${n.enumName} {
      public Node createEmptyNode() {
        return new ${n.type.simpleName}();
      }
    }  
#end
    ;
    public String getName() {
      return name().replace('_','-');
    }
  }
}
